@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #f1f1f1;
  font-family: 'Montserrat', sans-serif;
}

.logobar {
  display:flex;

  height: 3%;
}


.logotitre a {
  text-decoration: none;
  color: #05063e;
  font-size: 150%; /** 1.2rem  **/
  font-weight: bold;
  justify-content:center ;
  align-items: column;
}

.logotitre a span {
  color: #787609;
}

.logo {
  width: 10%;
  padding: 0px 0px;
  margin-top: 4%;   /** remet a 3% **/
  margin-left: 3%;
  justify-content: left;
  align-items: center;
}

.nav {
  display: flex;
  width: 400%;
}


/** les differente page du menu **/
.nav-items {
  display: flex;
  width: 100%;
  padding-right: 10%;
}

.nav-item {
  display: flex;
  padding: 2%;
  width: 80%;

}



.nav-item a {
  text-decoration: none;
  color: #05063e;
  font-weight: 600;

  width: 80%;
}

.nav-search {
  display: inline;
  vertical-align: middle;
  text-align: center;
  padding-top: 3%;
}
.nav-search__el {
  background: #c5c5c5;
  width: 93%;
  padding: 5px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  overflow: hidden;
}

.searchIput {
  border: none;
  background: #c5c5c5;
  flex-basis: 60%;
}

.nav-search i {
  flex-basis: 40%;
}

.nav-search .searchIput {
  display: inline-block;
  vertical-align: middle;
}

/** pyramid **/

main {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.pyramid {
    text-align: center;
}

.level {
    display: flex;
    justify-content: center;
}

.block {
    width: 50px;
    height: 50px;
    background-color: #3498db;
    margin: 0 5px;
}


.navbar {
    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.logo {
    font-size: 1.5em;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-list li {
    margin-right: 20px;
}

.nav-list a {
    text-decoration: none;
    color: #fff;
}

.burger-menu {
    font-size: 1.5em;
    cursor: pointer;
    display: none;
}

.content {
    padding: 20px;
}

@media only screen and (max-width: 768px) {
    .nav-list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #333;
        text-align: center;
    }

    .nav-list.show {
        display: flex;
    }

    .nav-list li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .burger-menu {
        display: block;
    }
}
